/* .add-center-container {
  padding: 20px;
  height: 100%;
  width:100%;
  
}

.content-wrapper {
  background-color:cornsilk;
  border-radius: 8px;
  padding: 30px;
  height: 100%;
  width:100%;
  
  
}

.form-control {
  margin-bottom: 10px;
  
} */

.add-center-form{
  background-color: bisque;
}

