.login-page {
  min-height: 100vh;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.8);
  
}

.navbar-brand{
  letter-spacing: 3px;
  color: #c24244;
  padding: 2px;
  margin-left: 8px;
}

.account-info {
  display: flex;
  flex-direction: column;
}

.info-item {
  display: flex;
  margin-bottom: 10px;
}

.label {
  width: 150px; /* Adjust as needed */
  font-weight: bold;
}

.info {
  margin-left: 10px;
}
